.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
}

.content {
  padding: 0px 50px;
}

.site-layout-background {
  background: #e0e0e0;
  padding: 24px;
  min-height: 100vh;
}

.side,
.menu {
  background-color: rgb(255, 143, 0);
  border: none;
}

.side {
  box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.2);
}
